{
  "env": {
    "browser": true,
    "es2020": true,
    "jest": true,
    "node": true
  },
  "extends": ["@highlandertech/eslint-config/eslint"],
  "rules": {
    "import/no-unresolved": "off"
  }
}
